doctype html 
html 
    head 
        title My Notes App 
        link(rel='stylesheet' href='/styles.css') 
    body 
        nav 
            a(href="/home") Home
            a(href="/notes") All Notes
        h1 Welcome to Note App 
        p. 
            A simple note taking app that can store your notes 
            all of the note are avalable and can edit or delete 
            notes.
        a(href='/notes') Go to Notes
        