doctype html 
html 
    head 
        title My Notes App
        link(rel="stylesheet", href="/style.css")
        
    body 
        nav 
            a(href="/") Home
            a(href="/notes") All Notes
        h1 Notes 
        .notesContainer 
            each note in notes 
                .card 
                    h5.noteId #{note.id}
                    h3.cardTitle #{note.title}
                    .cardContent #{note.content} 
        h2 Add New Note            
        form(action='/notes' method='POST')
            input(type='text' name='title' placeholder='Title' required)
            br
            textarea(name="content" placeholder='Note' rows="3" required)
            br        
            button(type="submit") Add Note  