body {
    background-color:antiquewhite;
    color:rgb(8, 8, 96);
}

h1, h2 {
    color:rgb(8, 8, 96);
   
} 
h3{
 text-align: center;
 text-decoration: underline;
 text-transform: uppercase;
}

button {
    margin-top: 10px; 
    background-color: rgb(8, 8, 96);
    color:antiquewhite;
}

.noteContainer{
    display: flex;
    /* flex-direction: column; */
    /* gap: 20px; */
}

.card {
    width: 50%;
    border: 1px solid rgb(8, 8, 96);
    padding: 5px;
    margin: 10px;
}

.card-content {
    color: rgb(8, 8, 96)
}

.posted{
    text-align: left;
    display:inline;
}
.noteId{
    text-align: left;
    display:inline;
}

input{
    padding: 5px;
    border: 1px solid rgb(8, 8, 96);

 }
 textarea{
    border: 1px solid rgb(8, 8, 96);
    margin-top: 10px;
 }

 .cardTitle {
    /* display: inline; */
 }